body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background: #222;
  color: #fff;
  padding: 20px;
  text-align: center;
}

section {
  background: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}
.header {
  background: #1f2937;
  padding: 30px 60px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.profile-img {
  width: 130px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid white;
}

.header-text h1 {
  color: white;
  margin: 0;
}

.header-text p {
  color: #cbd5e1;
  margin-top: 6px;
}
.navbar {
  position: sticky;
  top: 0;
  background: #111827;
  padding: 15px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}
.navbar a:hover {
  color: #38bdf8;
  transition: 0.3s;
}

.profile-img:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
.projects {
  padding: 60px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: #f8fafc;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}
.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 18px;
  background: #38bdf8;
  color: black;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}

.btn:hover {
  background: #0ea5e9;
}
.logo{
    color: #f8fafc;
}
