body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background: #222;
  color: #fff;
  padding: 20px;
  text-align: center;
}

section {
  background: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}

.header {
  background: #1f2937;
  padding: 30px;
}

.header-content {
  display: flex;
  align-items: center;
  max-width: 900px;
  margin: auto;
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;      /* THIS fixes long image issue */
  border: 4px solid white;
  margin-right: 25px;
}

.header-text h1 {
  color: white;
  margin: 0;
}

.header-text p {
  color: #d1d5db;
  margin-top: 5px;
}
